VITE_API_ENDPOINT=http://localhost:4002
VITE_DEFAULT_TIMEZONE=Asia/Ho_Chi_Minh
VITE_DISABLE_CK_INSPECTOR=true
VITE_ALLOWED_HOSTS=http://localhost:4002
TECH_CONFIG_VARIABLE_ENABLED=false
VITE_ADMISSION_CRM_ENDPOINT=https://admission-crm-dev.giadinh.edu.vn
VITE_MSAL_CLIENT_ID=dbe680fc-2a36-4946-832b-dc9d15f28a5d
VITE_MSAL_TENANT_ID=33feb0af-7bc8-4dde-af23-96e8c35bcf45
VITE_MSAL_REDIRECT_URI=auth://druce.merchant

