VITE_API_ENDPOINT=http://localhost:4002
VITE_DEFAULT_TIMEZONE=Asia/Ho_Chi_Minh
VITE_DISABLE_CK_INSPECTOR=true
VITE_ALLOWED_HOSTS=http://localhost:4002
TECH_CONFIG_VARIABLE_ENABLED=false
VITE_ADMISSION_CRM_ENDPOINT=https://admission-crm-dev.giadinh.edu.vn
